<ul class="recipes">
  <% recipes.forEach(function(recipe) { %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></li>
  <% }); %>
</ul>
<p>
  <a href="/recipes/new">Add recipe</a>
</p>
