<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cucumber.js: Cukecipes</title>
    <link href="/cukes/stylesheets/cukes.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/cukes/vendor/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/cukes/vendor/cucumber.js"></script>
    <script type="text/javascript" src="/cukes/javascripts/support_code.js"></script>
    <script type="text/javascript" src="/cukes/javascripts/stepdefs.js"></script>
    <script type="text/javascript" src="/cukes/javascripts/runner.js"></script>
  </head>
  <%- body %>
</html>
