<!DOCTYPE html>
<html>
  <head>
    <title>Cukecipes</title>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body class="stripes picnic">
    <h1>Cukecipes</h1>
    <%- body %>
  </body>
</html>
